.login {
    display: flex;
    flex-direction: column;
    width: 90%; 
    max-width: 400px; 
    height: 30%; 
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px; 
    box-sizing: border-box;   
    /* justify-content:last baseline;  */
    align-items: center;
}
.inp {
    margin-top: 10px;
    width: 100%; 
    max-width: 300px;
    padding: 10px ;
    border-radius: 20px;
}
.btn{
    margin-top: 10px;
    width: 50%; 
    max-width: 300px; 
    padding: 10px ;
}
.btn:hover{
    border-radius: 20px;
}

.register{
    margin-top: 20px;
    margin-left: 290px;
}
